.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
  border-radius: 13px;
  background: rgba(0, 0, 0, 0.3);
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
}
span {
  color: white;
  font-size: x-large;
  font-weight: bold;
}
.fighter-preview___info {
  font-size: xx-large;
}

.fighter-preview___root h3 {
  color: white;
  font-size: xx-large;
  align-self: center;
}
